/*.bak
/*.lo
/*.o
/*.orig
/*.rej
/*.tab.c
/*~
/.*.sw[nop]
/.deps
/.dirstamp
/.gitignore
/.libs
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/ID
/Makefile
/Makefile.in
/TAGS
/_libs
/e-shell-enumtypes.c
/e-shell-enumtypes.h
/evo-version.h
/evolution
/killev
/libevolution-shell.la
/shell.error
/so_locations
/tags
