/*.bak
/*.lo
/*.o
/*.orig
/*.rej
/*.tab.c
/*~
/.*.sw[nop]
/.deps
/.dirstamp
/.gitignore
/.libs
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/ID
/Makefile
/Makefile.in
/TAGS
/_libs
/evolution-shell-decl-list.txt
/evolution-shell-decl.txt
/evolution-shell-undeclared.txt
/evolution-shell-undocumented.txt
/evolution-shell-unused.txt
/evolution-shell.args
/evolution-shell.hierarchy
/evolution-shell.interfaces
/evolution-shell.prerequisites
/evolution-shell.signals
/html
/html-build.stamp
/html.stamp
/pdf-build.stamp
/pdf.stamp
/scan-build.stamp
/setup-build.stamp
/sgml-build.stamp
/sgml.stamp
/so_locations
/tags
/tmpl/*.bak
/tmpl/evolution-shell-unused.sgml
/xml
