/*.bak
/*.lo
/*.o
/*.orig
/*.rej
/*.tab.c
/*~
/.*.sw[nop]
/.deps
/.dirstamp
/.gitignore
/.libs
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/ID
/Makefile
/Makefile.in
/TAGS
/_libs
/evolution-util-decl-list.txt
/evolution-util-decl.txt
/evolution-util-undeclared.txt
/evolution-util-undocumented.txt
/evolution-util-unused.txt
/evolution-util.args
/evolution-util.hierarchy
/evolution-util.interfaces
/evolution-util.prerequisites
/evolution-util.signals
/html
/html-build.stamp
/html.stamp
/pdf-build.stamp
/pdf.stamp
/scan-build.stamp
/setup-build.stamp
/sgml-build.stamp
/sgml.stamp
/so_locations
/tags
/tmpl/*.bak
/tmpl/evolution-util-unused.sgml
/xml
