/*.bak
/*.lo
/*.o
/*.orig
/*.rej
/*.tab.c
/*~
/.*.sw[nop]
/.deps
/.dirstamp
/.gitignore
/.libs
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/ID
/Makefile
/Makefile.in
/TAGS
/_libs
/evolution-mail-formatter-decl-list.txt
/evolution-mail-formatter-decl.txt
/evolution-mail-formatter-undeclared.txt
/evolution-mail-formatter-undocumented.txt
/evolution-mail-formatter-unused.txt
/evolution-mail-formatter.args
/evolution-mail-formatter.hierarchy
/evolution-mail-formatter.interfaces
/evolution-mail-formatter.prerequisites
/evolution-mail-formatter.signals
/html
/html-build.stamp
/html.stamp
/pdf-build.stamp
/pdf.stamp
/scan-build.stamp
/setup-build.stamp
/sgml-build.stamp
/sgml.stamp
/so_locations
/tags
/tmpl/*.bak
/tmpl/evolution-mail-formatter-unused.sgml
/xml
