/*.bak
/*.lo
/*.o
/*.orig
/*.rej
/*.tab.c
/*~
/.*.sw[nop]
/.deps
/.dirstamp
/.gitignore
/.libs
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/ID
/Makefile
/Makefile.in
/TAGS
/_libs
/evolution-alarm-notify.desktop
/evolution-alarm-notify.desktop.in
/evolution.desktop
/evolution.desktop.in
/org.gnome.evolution.addressbook.gschema.valid
/org.gnome.evolution.addressbook.gschema.xml
/org.gnome.evolution.bogofilter.gschema.valid
/org.gnome.evolution.bogofilter.gschema.xml
/org.gnome.evolution.calendar.gschema.valid
/org.gnome.evolution.calendar.gschema.xml
/org.gnome.evolution.gschema.valid
/org.gnome.evolution.gschema.xml
/org.gnome.evolution.importer.gschema.valid
/org.gnome.evolution.importer.gschema.xml
/org.gnome.evolution.mail.gschema.valid
/org.gnome.evolution.mail.gschema.xml
/org.gnome.evolution.plugin.attachment-reminder.gschema.valid
/org.gnome.evolution.plugin.attachment-reminder.gschema.xml
/org.gnome.evolution.plugin.autocontacts.gschema.valid
/org.gnome.evolution.plugin.autocontacts.gschema.xml
/org.gnome.evolution.plugin.email-custom-header.gschema.valid
/org.gnome.evolution.plugin.email-custom-header.gschema.xml
/org.gnome.evolution.plugin.external-editor.gschema.valid
/org.gnome.evolution.plugin.external-editor.gschema.xml
/org.gnome.evolution.plugin.face-picture.gschema.valid
/org.gnome.evolution.plugin.face-picture.gschema.xml
/org.gnome.evolution.plugin.itip.gschema.valid
/org.gnome.evolution.plugin.itip.gschema.xml
/org.gnome.evolution.plugin.mail-notification.gschema.valid
/org.gnome.evolution.plugin.mail-notification.gschema.xml
/org.gnome.evolution.plugin.prefer-plain.gschema.valid
/org.gnome.evolution.plugin.prefer-plain.gschema.xml
/org.gnome.evolution.plugin.publish-calendar.gschema.valid
/org.gnome.evolution.plugin.publish-calendar.gschema.xml
/org.gnome.evolution.plugin.templates.gschema.valid
/org.gnome.evolution.plugin.templates.gschema.xml
/org.gnome.evolution.shell.gschema.valid
/org.gnome.evolution.shell.gschema.xml
/org.gnome.evolution.spamassassin.gschema.valid
/org.gnome.evolution.spamassassin.gschema.xml
/so_locations
/tags
