html, body {
  padding: 0;
  margin: 0;
}

h1, h2, h3 {
  color: #7f7f7f;
}

th {
  color: #7f7f7f;
  text-align: left;
  font-weight: normal;
  vertical-align: top;
}

.header {
  color: #7f7f7f;
}

.pre {
  font-family: monospace;
}

span.navigable, div.navigable, p.navigable {
  cursor: hand;
  text-decoration: underline;
  color: #003399;
}

img.navigable {
  cursor: hand;
}

.attachments {
  backgound: #FFF;
  border: 1px solid silver;
  margin: 10px 10px 10px 10px;
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
}

.attachment {
  max-width: 100px;
  word-wrap: break-word;
  float: left;
  text-align: center;
  margin-left: 5px;
  margin-right: 5px;
}

.part-container {
  width: 100%;
  height: 100%;
}
