[Desktop Entry]
Name=Calendar
Name[da]=Kalender
Name[de]=Kalender
Name[el]=Ημερολόγιο
Name[es]=Calendario
Name[fr]=Calendrier
Name[gl]=Axenda
Name[ko]=΄ή·Β
Name[no]=Kalender
Name[pl]=Terminarz
Name[pt]=Agenda
Name[sv]=Kalender
Comment=Calendar application
Comment[da]=Gnome Kalender
Comment[de]=Gnome Kalender
Comment[el]=Ημερολόγιο του Gnome
Comment[es]=Calendario de Gnome
Comment[fr]=Calendrier GNOME
Comment[gl]=Axenda de Gnome
Comment[ko]=±Χ³π ΄ή·Β
Comment[no]=Gnome Kalender
Comment[pl]=Terminarz GNOME
Comment[pt]=Agenda Gnome
Comment[sv]=Gnome-kalender
Exec=gnomecal
Icon=gnome-calendar.png
Terminal=0
Type=Application
