/*.bak
/*.lo
/*.o
/*.orig
/*.rej
/*.tab.c
/*~
/.*.sw[nop]
/.deps
/.dirstamp
/.gitignore
/.libs
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/ID
/Makefile
/Makefile.in
/TAGS
/_libs
/liborg-gnome-mailing-list-actions.la
/org-gnome-mailing-list-actions.eplug
/org-gnome-mailing-list-actions.error
/so_locations
/tags
