/*.bak
/*.lo
/*.o
/*.orig
/*.rej
/*.tab.c
/*~
/.*.sw[nop]
/.deps
/.dirstamp
/.gitignore
/.libs
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/ID
/Makefile
/Makefile.in
/TAGS
/_libs
/e-marshal.c
/e-marshal.h
/e-system.error
/e-util-enumtypes.c
/e-util-enumtypes.h
/evolution-source-viewer
/filter.error
/libevolution-util.la
/so_locations
/tags
/test-calendar
/test-category-completion
/test-contact-store
/test-dateedit
/test-mail-signatures
/test-name-selector
/test-preferences-window
/test-source-combo-box
/test-source-config
/test-source-selector
/test-tree-view-frame
/widgets.error
